@font-face {
  font-family: 'Lexend Deca';
  src: url('fonts/Lexend_Deca/static/LexendDeca-SemiBold.ttf')
}
@font-face {
  font-family: 'Lexend Deca Bold';
  src: url('fonts/Lexend_Deca/static/LexendDeca-Bold.ttf')
}

body {
    background-color: #fffAfA;
    font-family: 'Lexend Deca', cursive;
}

b {
  font-family: 'Lexend Deca Bold';
  font-weight: bold;
}

a {
  text-decoration: none;
}

#login {
  cursor: pointer;
  text-decoration: underline;
}

#titulo {
  font-size: 35px;
  color: #1790F7;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 38.25%;
}

#login {
  background-color: #fffAfA;
  width: 290px;
  font-size: 15px;
  color: #1790F7;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 61.625%;
  border: 3px solid #1790F7;
  border-radius: 40px;
  padding: 16px 0;
}

#logo {
  width: 105px;
  height: auto;
  position: absolute;
  top: 26.625%;
  left: 50%;
  transform: translate(-50%);
}

.ret {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 55px;
  background-color: #1790F7;
  z-index: 2;
}

/* CELULAR CELULAR CELULAR CELUAR*/
@media screen and (max-width: 600px) {

  #ondas {
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: 0px;
  display: inline-block;
  }

  .logo_topbar {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2%;
    z-index: 1;
  }
  
  .titulo_bar {
    color: #fffAfA;
    font-size: 16px;
    position: relative;
    left: 17%;
    top: 50%;
    transform: translateY(-50%);
    margin: 0px;
    display: inline-block;
    z-index: 1;
  }

  #opcoes_icon {
    display: none;
  }
  
  #opcoes-content {
    display: none;
  }

  .notif_ring {
    position: absolute;
    left: 96%;
    transform: translate(-96%);
    top: 14px;
  }

  .navbar {
    position: fixed;
    bottom: 100%;
  }
  
  #vetor_local {
    position: absolute;
    left: 5%;
    top: 11%;
  }
  
  #local {
    color: #1790F7;
    position: absolute;
    left: 11%;
    top: 9.5%;
    font-size: 16px;
  }

  .slider {
    position: absolute;
    width: 280px;
    height: 177px;
    top: 16%;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    border-radius: 10px;
  }

  .slides {
    display: flex;
    transition: transform 1s ease;
  }

  .slide {
    width: 280px;
    height: 177px;
  }

  .navigation {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-dot {
    height: 8px;
    width: 8px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
  }

  .nav-dot.active {
    background-color: #717171;
  }
  
  .dashboard {
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%);
    width: 280px;
    height: 470px;
  }

  #botao_mapa {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%);
    width: 280px;
    height: 150px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
  }
  
  #map_icon {
    width: 50px;
    height: auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 30px;
  }

  #titulo-botao-mapa {
    color: #686868;
    font-size: 20px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 85px;
    text-align: center;
    white-space: nowrap;
  }

  #botao_cadastro {
    position: absolute;
    top: 160px;
    width: 135px;
    height: 170px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
  }
  
  #cad_icon {
    width: 50px;
    height: auto;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    top: 30px;
  }
  
  #titulo-botao-cad {
    color: #686868;
    font-size: 15px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    top: 30px;
    text-align: center;
  }

  #botao_graficos {
    position: absolute;
    top: 160px;
    left: 100%;
    transform: translate(-100%);
    width: 135px;
    height: 170px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
  }
  
  #graf_icon {
    width: 80px;
    height: auto;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    top: 30px;
  }

  #titulo-botao-graf {
    color: #686868;
    font-size: 15px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    top: 22.5px;
    text-align: center;
  }
  
  #bottom-ret {
    top: 800px;
  }
}


/* PC PC PC PC PC PC PC PC PC PC*/

@media screen and (min-width: 601px) {
  #ondas {
    position: absolute;
    width: 100%;
    left: 0px;
    top: 75%;
    display: inline-block;
  }

  .titulo_bar {
    color: #fffAfA;
    font-size: 16px;
    position: relative;
    left: 6%;
    top: 50%;
    transform: translateY(-50%);
    margin: 0px;
    display: inline-block;
    z-index: 1;
  }

  .logo_topbar {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 3%;
    z-index: 1;
  }

  .notif_ring {
    position: absolute;
    left: 97%;
    transform: translateX(-97%);
    top: 50%;
    transform: translateY(-50%);
  }

  #opcoes_icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    width: 30px;
    height: auto;
    cursor: pointer;
  }

  #opcoes-content {
    position: absolute;
    width: 150px;
    height: auto;
    top: 90%;
    background-color: #1790F7;
    display: none;
    border-radius: 8px;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.5);
  }

  .paginas {
    color: white;
    line-height: 25px;
  }

  .slider {
    position: absolute;
    width: 600px;
    height: 378px;
    top: 13%;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    border-radius: 15px;
  }

  .slides {
    display: flex;
    transition: transform 1s ease;
  }

  .slide {
    width: 600px;
    height: 378px;
  }

  .navigation {
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
  }

  .nav-dot.active {
      background-color: #717171;
  }
  .info {
    position: absolute;
    top: 100px;
    left: 180px;
    width: auto;
    height: auto;
  }
  
  #vetor_local {
    position: relative;
  }

  #local {
    color: #1790F7;
    position: relative;
    font-size: 16px;
    display: inline-block;
  }
  
  .dashboard {
    position: absolute;
    top: 59%;
    left: 50%;
    transform: translate(-50%);
    width: 600px;
    height: 600px;
  }

  #botao_mapa {
    position: absolute;
    width: 600px;
    height: 300px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  }
  
  #map_icon {
    width: 110px;
    height: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50px;
  }

  #titulo-botao-mapa {
    position: absolute;
    margin: 0px;
    left: 50%;
    transform: translate(-50%);
    top: 70%;
    color: #686868;
    font-size: 30px;
  }

  #botao_cadastro {
    position: absolute;
    top: 315px;
    left: 0%;
    transform: translate(0%);
    width: 290px;
    height: 270px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  }
  
  #cad_icon {
    width: 85px;
    height: auto;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    top: 40px;
  }
  
  #titulo-botao-cad {
    color: #686868;
    font-size: 25px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    top: 50px;
    text-align: center;
  }

  #botao_graficos {
    position: absolute;
    top: 315px;
    left: 100%;
    transform: translate(-100%);
    width: 290px;
    height: 270px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  }
  
  #graf_icon {
    width: 130px;
    height: auto;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    top: 40px;
  }

  #titulo-botao-graf {
    color: #686868;
    font-size: 25px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    top: 40px;
    text-align: center;
  }

  #bottom-ret {
    top: 1200px;
  }

/* buscaPacientes */
  .parte-azul-busca {
    width: 1490px;
    height: 350px;
    padding: 5px;
    box-sizing: border-box;
    background-color: rgb(55, 117, 210);
    margin-top: -8px;
    margin-left: -8px;
    overflow-x: hidden;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

  }
  .hidden-x{
    overflow-x: hidden;
  }
  
  #Buscapaciente {
    font-size: 30px;
    color: white;
    margin-left: 10px;

  }
  #nome-acima-ID{
    color: white;
  }


  #imagemHome{
    width: 50px;
    height: 50px;
  
  }

  #imagemPac{
    width: 50px;
    height: 50px;

  }

  #imagemPerfil{
    width: 50px;
    height: 50px;

  }

  .abaixo-barra{
  margin: 0px;
    color:#1790F7;
  }

  #id-paciente{
    color: grey;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    margin-right: 0px;
    margin-bottom: 5px;
    width: 200px;
 
  }
  .botaoBuscar{
    background-color: white;
    border-radius: 20px;
    border: black 2px solid;
    border-color: black;
    width: 120px;
    max-height: 35px;
    text-align: center;
    position: absolute;
    padding: 5px;
    top: 220px;
    left: 10%;

  }

  .escritaBotao{
    margin: 0px;
    font-size: 20px;
  }

  .barraNav{
    position: absolute;
    display: flex;
    justify-content: space-between; /* Distribui os itens com espaço igual entre eles */
    align-items: center; /* Alinha os itens no centro verticalmente */
    position: fixed;
    bottom: 0;
    width: 95%;
    margin-left: 2%;
    background-color: white;
  
  }
  .icons{
    display: inline-block;
  }

  /* pacientesListados */

  .topo-da-pag{
    background-color: #1790F7;
    height: 125px;
    display: flex;
    align-items: center;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  #tituloPacientes {
    padding:15px;
    margin: 0;
    color: white;
    width: 20%;
  }

  .botaoBuscarPacientes{
    background-color: white;
    border-radius: 20px;
    border: black 2px solid;
    border-color: black;
    width: 120px;
    max-height: 30px;
    text-align: center;
    padding: 0px;
    margin: 15px;

  }

  .preencherLados{
   margin: 0; 
   padding: 0;
   width: 100%;
   height: 100%;
  }
  .entreElementos{
    display: flex;
    padding: 5px;
    padding-left: 20px;
  }

  #botaoFiltrar{
    margin-left: 50%;
  }

  #nPacientes{
    color: grey;
  }
  .infoPaciente{
    border: black 1px solid;
    height: 200px;
    width: 300px;
    margin-left: 25%;
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;
    padding: 10px;
    position:relative;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .nomePaciente{
    margin-top: -5px;
    margin-left: 30%;
    margin-bottom: 20px;
  }
  .setor{
    margin-top: 5px;
    margin-left: 30%;
    margin-bottom: 2px;
  }
  .rua{
    margin-top: 0px;
    margin-left: 30%;
    margin-bottom: 2px;
  }
  .distancia{
    margin-top: 0px;
    margin-left: 30%;
    margin-bottom: 2px;
  }
  .idNumerico{
    margin-top: 0px;
    margin-left: 30%;
    margin-bottom: 2px;
  }
  .botaoMais{
    margin-left: 40% ;
    margin-top: 35px;
    
  }
  .line {
      position: absolute;
      top: 80%; /* Alinha a linha verticalmente ao centro */
      left: 0;
      width: 100%;
      height: 1px; /* Define a espessura da linha */
      background-color: black; /* Define a cor da linha */
    }

  .espaço{
    margin: 30px;
    height: 50px;
    width: 50px;
    font-size: 30px;
    position: absolute;
    border: white 1px  solid;
  }

  .info_perfil {
    color: #877e7f;
    position: relative;
    left: 650px;
    top: 170px;

  }
  .img_perfil {
    width: 300px;
    height: 200px;
    transform: translate(100px);
    top: 50px;
    position: relative;
    left: 550px;
    text-align: center;
  }
  .atendidos {
    position: relative;
    line-height: normal;
    left: 650px;
    top: 200px;
    max-width: 203px;
    margin: 1;
    padding: 2px;
    background-color: #d9d9d9;
    border-radius: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5)
  }
  .encaminhados {
    position: relative;
    line-height: normal;
    left: 650px;
    top: 220px;
    max-width: 203px;
    margin: 1;
    padding: 2px;
    background-color: #d9d9d9;
    border-radius: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5)
  }

  .info_pessoal {
    position: absolute;
    left: 850px;
    top: 375px;
  }

  .atendido {
    color: #877e7f;
    position: relative;
    left: 880px;
    top: 170px;
  }

  .encaminhado {
    color: #877e7f;
    position: relative;
    left: 880px;
    top: 55px;
  }

  .logout {
    position: relative;
    left: 870px;
    top: 200px;
  }

  .ttmap {
    color: #877e7f;
    position: relative;
    top: 50px;
  }

  .img_mapa {
    position: relative;
    top: 50px;
    left: 35px;
  }

  .name_regions {
    color: #877e7f;
    position: absolute;
    top: 150px;
    left: 700px;
  }

}